<html>

<head>
    <title>블로그</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <header>
        <a href="/" class="title">
            <h1>나의 블로그</h1>
        </a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="feedback">
        <h2>피드백 남기기</h2>
        <a href="/feedback">피드백 남기기</a>
        <a href="/show_feedback">피드백 보기</a>
    </div>
    <footer>
        <a class="email" href="mailto:asdf@js.hs.kr">asdf@js.hs.kr</a>
    </footer>
</body>

</html>